<!DOCTYPE HTML>
<html ng-app="ngApp">
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="node_modules/angular/angular.js"></script>
		<script src="ng.js"></script>
	</head>
	<body ng-controller="maincntrl">
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<!--a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a-->
					<nav id="nav">
						<h1>Jawwi</h1>
						<button ng-click="toggleScreen('AllCities')"><span ng-if="screen=='AllCities'">&#x2714; </span>Locations</button>
					</nav>
					<!--a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a-->
				</div>
			</header>



		<!-- Three -->
			<section id="three"  ng-if="screen=='AllCities'"
				class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article >
							<div class="image round">
	City Filter:<input 
{{ filteredAllCities.length}} , {{userCities.length}}
		ng-model="searchCitiesStr" 
		ng-change="onChngCitiesSearch(searchCitiesStr)"/>
							</div>
							<header
	 ng-repeat="c in filteredAllCities track by $index"  
				style="background-color:#6cc09187;border-color:white;
					box-shadow: inset 0 0 0 3px #6cc091;
				color: #6cc091 !important;
				border-radius: 30px;
				border: 0;
				cursor: pointer;
				display: inline-block;
				font-size: .75em;
				font-weight: 400;
				height: 7.75em;
				line-height: 3.85em;
				letter-spacing: 2px;
				padding: 0 4em;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				" 
			ng-click="clkCity(c)">
			
			<table><tr><td style="width:80%">
					<h3><span ng-if="c.selected">&#x2714; </span>{{c.city}} ,{{c.country}}</h3>
					{{ c.data.currently.time | date:'yyyy-MM-dd HH:mm:ss'}}
				</td><td>
					<fieldset ng-init="data=prepareData(city.data,city)[0]"><legend>Hi and Lo Tempr</legend>{{data[0].a.lo}} / {{data[0].a.hi}}</fieldset>
					<fieldset><legend>Expected Rain:</legend>{{c.data.currently.precipProbability*100}}%</fieldset>
				<img style="width:64px;height:64px" src="/images/icons/{{c.data.currently.icon}}.png"/>
				</td></tr></table>	
				</header>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div ng-repeat="city in userCities track by $index"
						style="margin:5px;
							border: 5px solid white;
							border-radius: 20px;
							background-size: cover;
							background-image:url(/images/bg/{{city.data.currently.summary}}.jpg)"
					>	<h3>{{city.city}}</h3><!-- ,{{city.lat}},{{city.lng}}-->
						<p>{{ city.data.currently.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
						<fieldset><legend>Tempreture:</legend>{{city.data.currently.temperature}}</fieldset>
						<fieldset><legend>Expected Rain:</legend>{{city.data.currently.precipProbability*100}}%</fieldset>
						<fieldset ng-init="data=prepareData(city.data,city)[0]">
							<legend>Hi and Lo Tempreture</legend>{{data[0].a.lo}} to {{data[0].a.hi}}</fieldset>
						<p><img src="/images/icons/{{city.data.currently.icon}}.png"/></p>
						<table id="{{city.id}}_dataviz">
							<tr><td ng-repeat="h in data track by $index">{{h.time | date:'HH:mm'}}</td></tr>
							<tr><td ng-repeat="h in data track by $index">{{h.temperature}}</td></tr>
						</table>
						<table id="{{city.id}}_dataviz">
							<tr><td ng-repeat="h in data track by $index">{{h.time | date:'dd HH:mm'}}</td></tr>
							<tr><td ng-repeat="h in data track by $index">{{h.temperature}}</td></tr>
						</table>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body> <!--h2><span ng-if="c.selected">&#x2714; </span> { {c.city}} , { {c.country}}</h2-->
</html>